@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

:root {
  --primary-font: "Science Gothic", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --primary-font-size: 2rem;
  --primary-font-weight: 800;
  --primary-font-size-h2: 3rem;
  --primary-font-weight-h2: 600;
  --secondary-font-size: 1rem;
  --secondary-font-weight: 400;
}

* {
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

body {
  margin: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 3%;
}

#tsparticles {
  position: fixed !important;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: -1 !important;
  pointer-events: none !important;
}

h1 {
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
}

h2 {
  font-family: var(--primary-font);
  font-size: var(--primary-font-size-h2);
  font-weight: var(--primary-font-weight-h2);
}

nav a {
  font-family: var(--secondary-font);
  font-weight: var(--primary-font-weight-h2);
}

.myname {
  font-family: var(--primary-font);
}

.ctabtn:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  transition: 0.5s;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.8);
}

.aboutme .ctabtn {
  border: 1px solid white;
  padding: 1rem;
}

.aboutme .swiper {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.aboutme .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.aboutme {
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
}

.aboutme .left-div {
  width: 40%;
}

.aboutme .right-div {
  width: 50%;
}

.aboutme .right-div p {
  line-height: 2;
}

.services {
  height: 100% !important;
  overflow: hidden;
}

.services .swiper-slide img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.service-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-cards {
  background-color: rgba(0, 0, 0, 0.8);
}

.serviceswiper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.serviceswiper img {
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.service-card,
.project-cards {
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
}

.service-card .ctabtn {
  justify-self: end;
}

.service-content {
  height: 200px;
}

#tech-stack,
#why-work-with-me {
  background-color: rgba(0, 0, 0, 0.8);
}

.tech-stack .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tech-stack .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.tech-stack .swiper-slide img {
  display: block;
  width: 100%;
}

.tech-stack {
  min-height: 100vh;
}

.tech-stack h2 {
  text-align: center;
  padding-top: 2rem;
}

.why-work-with-me {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2rem;
}

.tech-stack h2 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Centers the bento grid vertically */
.bento-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bento grid */
.bento-grid {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 180px;
  gap: 1rem;
}

/* Bento items */
.bento {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 1rem; */
  overflow: hidden;
  color: white;
  text-align: center;
  font-weight: 600;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
}

/* Overlay */
.bento::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

/* Text layer */
.bento-content {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
}

/* Variants */
.bento.wide {
  grid-column: span 2;
}

.max {
  grid-column: span 4;
  opacity: 1;
  z-index: 999;
}

.bento.tall {
  grid-row: span 2;
}

/* Background images */
.bg-dev {
  background-image: url("../images/experience.jpg");
}

.bg-team {
  background-image: url("../images/web.jpg");
}

.bg-code {
  background-image: url("../images/hadnson.jpg");
}

.bg-instructor {
  background-image: url("../images/instructor.jpg");
}

.bg-clean-code {
  background-image: url("../images/coding.jpg");
}

.bg-design {
  background-image: url("../images/simple.jpg");
}

.bg-design-alt {
  background-image: url("../images/growth.jpg");
}

/* Optional hover effect */
.bento:hover::before {
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
}

.gmail-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: white; /* Gmail red */
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
}

.gmail-button:hover,
.key-feature-viewbtn:hover {
  opacity: 0.5;
}

.key-features {
  text-align: start;
  list-style-type: disc;
  height: 200px;
}

.key-features span {
  font-weight: 600;
}

.key-features li {
  margin-left: 2rem;
}

.key-feature-viewbtn {
  display: block;
  text-decoration: none;
  width: 100%;
  background-color: white;
  color: black;
}

.project-cards {
  height: 100%;
}

@media (max-width: 768px) {
  #navbar-default ul {
    background-color: black;
  }

  #navbar-default ul li {
    width: 100%;
    border: 1px solid white;
    text-align: center;
  }

  .hero-content {
    padding: 2rem 2rem;
    text-align: start;
  }

  #my-projects {
    height: auto;
  }

  #tech-stack {
    overflow: hidden;
  }

  #my-projects h2,
  #tech-stack h2 {
    font-size: 2rem;
  }
  #why-work-with-me h2 {
    font-size: 1.7rem;
  }

  #my-projects p,
  #tech-stack p,
  #why-work-with-me p {
    font-size: 1rem;
  }

  #why-work-with-me {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: hidden;
  }

  .bento-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .aboutme {
    flex-direction: column;
  }

  .aboutme .swiper {
    width: 200px;
    height: 200px;
  }

  .aboutme .right-div {
    width: 100%;
    text-align: justify;
  }

  .aboutme .right-div h2 {
    text-align: center;
  }

  .aboutme .right-div span {
    padding: 0;
  }

  .aboutme .left-div {
    width: 100%;
  }
}
